@tailwind base;
@tailwind components;
@tailwind utilities;

.from-cyan-400 {
  --tw-gradient-from: #22d3ee;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(34, 211, 238, 0));
}

.to-light-blue-500 {
  --tw-gradient-to: #0ea5e9;
}
